:root {
  --primary-background-color: #fafafa;
  --secondary-background-color: #f5f5f5;
  --primary-text-color: #252525;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100vw;
  font-size: 1.5rem;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.navbar {
  height: 6rem;
  font-size: 1.8rem;
}

.container {
  max-width: 90%;
  background-color: var(--secondary-background-color);
  display: grid;
}

.puzzle-playground-block {
  text-align: center;
}

.puzzle-controllers {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.puzzle-controllers button {
  font-size: 1.8rem;
}

.puzzle-info-block {
  text-align: center;
  background-color: var(--primary-background-color);
  font-size: 2.5rem;
}

.scores {
  color: var(--primary-text-color);
  text-align: center;
}

.level-info-block {
  height: 5rem;
}

.puzzle-grid {
  height: 68rem;
  width: 68rem;
}

.grid {
  width: 91%;
  height: 91%;
  display: flex;
  flex-wrap: wrap;
  background-color: #bbada0;
  border: 0.5rem solid #bbada0;
  border-radius: 1rem;
}

.grid div {
  box-sizing: border-box;
  min-width: 4.5rem;
  height: 4.5rem;
  background-color: #ccc0b3;
  border: 0.3rem solid #bbada0;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
