* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100vw;
  font-size: 1.5rem;
}

.container {
  max-width: 90%;
  background-color: whitesmoke;
  display: grid;
}

.puzzle-playground-block {
  background-color: red;
}

.puzzle-info-block {
  text-align: center;
  background-color: #f9f9f9;
  font-size: 2.5rem;

}

.info-title{
  text-decoration: underline;
}

.scores {
  /* height: 10rem; */
  /* background-color: blue; */
  color: #151515;
  /* font-size: 4rem; */
  text-align: center;
}

.level-info-block {
  height: 5rem;
  background-color: yellow;
}

.puzzle-grid {
  background-color: grey;
  height: 70rem;
  width: 70rem;
}
